/* CSS for contacts.html */
.body {
  text-align: center;

}
.row-1 {
  height: 50%;
}
.row-2 {
  height: 50%;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 100%;
}

.col-3 {
  width: 33%;
}

.rishita {
  position: relative;
  padding: 50px;
  text-align: center;
}

.jay {
  position: relative;
  padding: 50px;
  text-align: center;
}

.josh {
  position: relative;
  padding: 50px;
  text-align: center;
}

.jwu {
  position: relative;
  padding: 50px;
  text-align: center;
}

.jyu {
  position: relative;
  padding: 50px;
  text-align: center;
}
