html {
    background: #e6e9e9 no-repeat center center fixed;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    margin: auto;
    width: 37%;
    padding: 10px;
}

form{
  text-align: center;
  border-width: 0px;
}

input{
  margin-bottom: 10px;
}
.loginbutton{
  min-width:  = 100px;
  color: black;
}
