html {
  background: url(ihttps://static.pexels.com/photos/255379/pexels-photo-255379.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.center {
    margin: auto;
    width: 37%;
    padding: 10px;
}

form{
  text-align: center;
  border-width: 0px;
}

input{
  margin-bottom: 10px;
}
.loginbutton{
  min-width:  = 100px;
  color: black;
}
