html {
  background: white;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.center {
    margin: auto;
    width: 37%;
    padding: 10px;
}

form{
  text-align: center;
  border-width: 0px;
}

.imgbutton{
  min-width:  = 100px;
  color: white;
  border-width: none;
  border: none;

  background-color: DarkBlue;

}
