/* CSS for contacts.html */
.body {
  text-align: center;

}
.row-1 {
  height: 50%;
}
.row-2 {
  height: 50%;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 100%;
}

.col-3 {
  width: 33%;
}

.rishita {
  position: relative;
  padding: 50px;
  text-align: center;
}

.jay {
  position: relative;
  padding: 50px;
  text-align: center;
}

.josh {
  position: relative;
  padding: 50px;
  text-align: center;
}

.jwu {
  position: relative;
  padding: 50px;
  text-align: center;
}

.jyu {
  position: relative;
  padding: 50px;
  text-align: center;
}

body {
    background: url("asdf.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;


}

h1 {
    color: #747474;
}

p {
  color: #747474;
}

.jyu {
  color: #747474;
}

.jwu {
  color: #747474;
}

.jay { s
  color: #747474;
}

.josh {
  color: #747474;
}

.rishita {
  color: #747474;
}

.img-circle {
    border-radius: 50%;
}
