
.center {
    margin: auto;
    width: 37%;
    padding: 10px;
}

form{
  text-align: center;
  border-width: 0px;
}

input{
  margin-bottom: 10px;
}
.loginbutton{
  min-width:  = 100px;
  color: white;
  background-color: DarkBlue;
}

body {
    background: url("asdf.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;


}
